/* Custom properties/variables  */
:root {
    --primary-color: rgb(1, 27, 75);
    --background-color: rgb(238, 237, 237);
    --secondary-color: rgb(36, 80, 156);
  }
 
  body {
    font-family: 'Poppins', sans-serif;
    background: var(--background-color);
    padding: 2.5em;
  } 

  /* nav */
main-navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  
  /* .nav-list {
      margin: 0 1rem;
    }
   */
  /* .nav-list a{
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
    color: white;
    text-decoration: none;
  }
  
  .nav-list a:hover {
    background: var(--main-blue);
  } */

  ul.nav-list{
    list-style-type: none;
  }

  h1 {
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 3rem;
  }
  
  h2 {
    text-transform: uppercase;
    color: var(--primary-color);
  }

  .alpaca{
    position: relative;
  }

  .alpaca-background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .alpaca-neck{
    position: absolute;
    left: 0;
    top: 0;
  }

  .alpaca-eyes{
    position: absolute;
    left: 0;
    top: 0;
  }

  .alpaca-hair{
    position: absolute;
    left: 0;
    top: 0;
  }

  .alpaca-mouth{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
  }

  .alpaca-accessories{
    position: absolute;
    left: 0;
    top: 0;
  }

  .alpaca-leg{
    position: absolute;
    left: 0;
    top: 0;
  }

  .alpaca-nose{
    position: absolute;
    left: 0;
    top: 0;
  }

  .customizer {
    padding-left: 3em;
  }

  .category {
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
  }

  .category-items{
    background-color: #fff;
    color: var(--secondary-color);
    padding: 20px 30px;
    border-radius: 30px;
    text-align: center;
    font-size: 1.3rem;
    min-width: 25%;
  }